CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = Apple Development: Created via API (XSY38R3689)
DEVELOPMENT_TEAM = 8Z6WVFJ574

TRIPLINE_TESTLAB_PROFILE_Runner = Tripline App Development CI 2026-07-19
TRIPLINE_TESTLAB_PROFILE_RunnerUITests = Tripline XCTest Runner Development CI 2026-07-19
PROVISIONING_PROFILE_SPECIFIER = $(TRIPLINE_TESTLAB_PROFILE_$(TARGET_NAME))
